/node_modules
earnings_data.db
economic_data.db
price_data.db
util_data.db
.env
missingAssets.json
missingStocks.json
calculations.js
mainDB.db
databaseSchema.vuerd.json
missingStocksEarnings.json
missingTickers.json
DELETETHIS.js